:root {
  --body-bg-color: #121214;
  --text-color: #e1e1e6;
  --title-color: #04d361;
  --form-color: #a8a8a8;
  --bg-button-color: #8257e5;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

body {
  display: flex;
}

.left {
  background-color: var(--body-bg-color);
  width: 50vw;
  height: 100vh;
}

.left img {
  width: 389px;
  height: 94px;
  margin-left: 30px;
  margin-top: 50px;
}

.left h2 {
  color: var(--title-color);
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;

  margin-top: 110px;
  margin-left: 35px;
}

.left h3 {
  color: var(--text-color);
  font-family: 'Spartan', sans-serif;
  font-size: 14px;
  font-weight: 700;

  margin-left: 35px;
  margin-top: 20px;
}

.left p {
  color: var(--text-color);
  font-family: 'Spartan', sans-serif;
  font-size: 14px;
  font-weight: 400;

  margin-left: 35px;
  margin-top: 10px;
  margin-bottom: 45px;
}

.send label {
  color: var(--form-color);
  font-family: 'Spartan', sans-serif;
  font-size: 14px;
  font-weight: 700;

  margin-left: 35px;
}

/*.left .green {
  height: 48px;
  width: 5px;
  background-color: var(--title-color);
}*/

.send input {
  width: 798px;
  height: 48px;

  margin-left: 35px;
  margin-top: 20px;

  outline: none;

  position: relative;
}

/*.send input::before {
  content: '';
  width: 5px;
  height: 48px;
  background-color: green;

  position: absolute;
}

.send .image {
  height: 48px;
  width: 48px;
  background-color: var(--bg-button-color);
}

.send .image img {
  height: 24px;
  width: 24px;

  margin-top: 10px;
} */

.read {
  display: flex;
  align-items: center;
}

.read p {
  color: var(--bg-button-color);
  font-size: 14px;
  font-family: 'Spartan', sans-serif;
  font-weight: 700;

  margin-top: 50px;
}

.read img {
  width: 24px;
  height: 24px;

  margin-top: 0px;
  margin-left: 10px;
}

.right img {
  width: 50vw;
  height: 100vh;
}
